# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.o
.ipynb_checkpoints/
htsim
*.dat
*.plot
htsim_dumbell_cc
htsim_dumbell_ndptunnel
parse_output
*.a
writeup.pdf
team.secret
archive.zip
